@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(16, 16, 78);
    font-family: "Audiowide",sans-serif;
}

.gamename{
    text-align: center;
    margin: 20px 0;
    font-size: 50px;
    color: rgb(7, 189, 189);
}

.buttons{
    height: 50px;
    width: 50px;
    font-size: 50px;
    margin-right: 5px;
    cursor: pointer;
}

.btnname{
    color:rgb(7, 189, 189);
    font-weight: bold;
    margin-top: 15px;
    margin-left: 15px;
}

.flexbtns{
    display: flex;
    justify-content: center;
}

.turns{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    color:rgb(7, 189, 189) ;
}

#turn{
    color: red;
    font-size: 40px;
    font-weight: 900;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.timers{
    font-size: 20px;
    font-weight: 600;
    color: rgb(7, 189, 189);
}

.timersbox{
    background-color: rgba(0, 0, 0, 0.662);
    padding: 8px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 10px 5px black ;
}

.time{
    text-align: center;
    margin-top: 5px;
    color: rgb(7, 189, 189);
}

.box{
    display: grid;
    border-radius: 20px;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(9,1fr);
    width: 90vw;
    height: 100vh;
    gap: 0.5vw;
    background-color: rgba(0, 0, 0, 0.534);
    max-height: 700px;
    max-width: 700px;
    margin-bottom: 60px;
    margin-inline: 60px;
    position: relative;
    box-shadow: 5px 5px 10px 5px black ;
}

.points{
    color: aliceblue;
    row-gap: 10px;
}

.subpoints{
    margin:40px 0;
    font-size: xx-large;
    color: rgb(7, 189, 189);
}

.subpoints1{
    text-decoration: underline;
}

.pointsnum{
    color: rgb(7, 189, 189);
}

.dots{
    background-color: aliceblue;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(32, 156, 55);
    height: 35px;
    width: 35px;
    border-radius: 50px;
    color: black;
    align-self: center;
    justify-self: center;
    z-index: 2;
}

.dots:hover{
    background-color:rgb(117, 163, 131) ;
    cursor: pointer;
}

.dots:active{
    transform: scale(105%);
}

.dot1{
    grid-row: 5 ;
    grid-column: 2;
}
.dot2{
    grid-row: 2;
    grid-column: 5;
}
.dot3{
    grid-row: 2;
    grid-column: 11;
}
.dot4{
    grid-row: 5;
    grid-column: 14;
}
.dot5{
    grid-row: 8;
    grid-column: 11;
}
.dot6{
    grid-row: 8;
    grid-column: 5;
}
.dot7{
    grid-row: 5;
    grid-column: 4;
}
.dot8{
    grid-row: 3;
    grid-column: 6;
}
.dot9{
    grid-row: 3;
    grid-column: 10;
}
.dot10{
    grid-row: 5;
    grid-column: 12;
}
.dot11{
    grid-row: 7;
    grid-column: 10;
}
.dot12{
    grid-row: 7;
    grid-column: 6;
}
.dot13{
    grid-row: 5;
    grid-column:6 ;
}
.dot14{
    grid-row: 4;
    grid-column:7;
}
.dot15{
    grid-row: 4;
    grid-column: 9;
}
.dot16{
    grid-row: 5;
    grid-column: 10;
}
.dot17{
    grid-row: 6;
    grid-column: 9;
}
.dot18{
    grid-row: 6;
    grid-column: 7;
}

.leaderbox{
    text-align: center;
    color: aliceblue;
    background: #00000085;
    margin-inline: 300px;
    padding:20px;
}

@media screen and (max-width:1024px) {
    .timers{
        margin-left: 20px;
    }
    .subpoints{
        margin-right: 20px;
    }
}
@media screen and (max-width:890px) {
    .leaderbox{
        margin-inline: auto;
        width: 150px;
        height: 100px;
        margin-bottom: 20px;
    }
    .gamename{
        margin-top: 0;
        font-size: xx-large;
    }
    .buttons{
        font-size: 20px;
        height: 20px;
        width: 20px;
    }
    .btnname{
        margin: 5px 8px 5px 0px;
        font-size: 10px;
    }

    .main{
        flex-direction: column;
        justify-content: center;
    }
    .box{
        max-width: none;
        max-height: none;
        width: 80vw;
        height: 85vh;
        margin-inline: 10px;
        margin-bottom: 40px;
    }
    .dots{
        height: 20px;
        width: 20px;
    }
    .subpoints{
        margin-bottom: 5px;
        font-size: large;
        margin: 10px 0;
    }
    .timers{
        display: flex;
        margin-bottom: 30px;
    }
    .timersbox{
        margin-inline: 15px;
        font-size: medium;
        margin: 20px;
        box-shadow: none;
    }
    .turns{
        font-size: large;
    }
    #turn{
        font-size: larger;
    }
}
@media screen and (max-width:660px) {
    .box{
        height: 75vh;
    }
    
}
@media screen and (max-width:560px) {
    .buttons{
        font-size: 20px;
    }
    .main{
        flex-direction: column;
        justify-content: center;
    }
    .box{
        max-width: none;
        max-height: none;
        width: 90vw;
        height: 60vh;
        margin-inline: 10px;
        margin-bottom: 30px;
        box-shadow: none;
    }
    .dots{
        height: 15px;
        width: 15px;
        border-width: 2px;
    }
    .subpoints{
        margin-bottom: 2px;
        font-size: medium;
    }
    .timers{
        display: flex;
        margin-bottom: 50px;
    }
    .timersbox{
        margin-inline: 2px;
        width: 80px;
        font-size: small;
    }
    .turns{
        font-size: medium;
    }
    #turn{
        font-size: medium;
    }
    .number{
        font-size: x-small;
    }
}
@media screen and (max-width:376px) {
    .box{
        width: 90vw;
        height: 50vh;
        box-shadow: none;
    }
}
@media (orientation:portrait) {
    .box{
        width: 90vw;
        height: 50vh;
    }
    .nums{
        font-size: xx-small;
    }
    .number{
        font-size: 7px;
    }
}

.red{
    background-color: red;
}

.blue{
    background-color: rgb(24, 166, 255);
}